<!--Banner-->
<div class="jumbotron">
  <h1 class="display-4">Hola</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<!-- Contact-->
    <div style="padding: 50px; display: flex; justify-content: center;">
    <mat-card class="example-card" style="width:900px">
      <mat-card-header style="padding-left: 110px">
    <mat-card-title>Esbríbenos un mensaje</mat-card-title>
  </mat-card-header>
    <form [formGroup]="messageForm" style="display: flex; flex-direction: column;">
  <mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombre" type="text">
  </mat-form-field>
   <mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput formControlName="email"type="text">
    </mat-form-field>
     <mat-form-field>
  <mat-label>Celular</mat-label>
  <input matInput formControlName="celular"type="number">
    </mat-form-field>
    <mat-form-field>
  <mat-label>Mensaje</mat-label>
  <textarea matInput formControlName="mensaje">
  </textarea>
    </mat-form-field>
    <button (click)="onCreate()" style="padding: 10px" type="button" class="btn btn-warning">Mandar Mensaje</button>
</form>
</mat-card>
</div>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Somos Alerta Covid</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" >Cuidate</a>
                        <a >Utiliza Barbijo</a>
                    </div>
                </div>
            </div>
        </footer>