<div class="jumbotron">
  <h1 class="display-4" align="center">Bandeja de Mensajes</h1>
  <p class="lead" align="center">Si usted se contacto con nosotros espere nuestra respuesta, pronto atenderemos su caso.</p>
  <hr class="my-4">
</div>
<!--Replies-->
<body>
  <div *ngFor="let message of messages"
       style="padding: 50px; display: flex; justify-content: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="card card-elegant">
          <div class="card-block">
            <h5 class="card-title text-uppercase"><small>Respuesta</small> <br>Esperamos poder ayudarl@</h5>
            <p class="card-text text-justify">
              Su mensaje fue: {{message.mensaje}}
            </p>
            <p class="card-text text-justify">
              Respuesta: {{message.respuesta}}
            </p>
            <p class="card-text text-justify">
              Receta: {{message.recetaMedica}}
            </p>
            <a class="btn btn-link text-uppercase">Atentamente Alerta Covid</a>
          </div>
        </div>
      </div>
    </div> 
  </div>
  </div>
</body>
<!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Somos Alerta Covid</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" >Cuidate</a>
                        <a >Utiliza Barbijo</a>
                    </div>
                </div>
            </div> 
        </footer> 