<div class="jumbotron">
  <h1 class="display-4">Hola</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger contaiewqewqewqener.</p>
</div>
<!--Replies-->
<div *ngFor="let message of messages"
       style="padding: 50px; display: flex; justify-content: center;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>RESPUESTA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
         Tu mensaje: {{message.mensaje}}
        </p>
        <p>
         Respuesta: {{message.respuesta}}
        </p>
        <p>
         Receta: {{message.recetaMedica}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
<!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Somos Alerta Covid</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" >Cuidate</a>
                        <a >Utiliza Barbijo</a>
                    </div>
                </div>
            </div> 
        </footer> 